body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dreptunghi {
    background-color: red;
    height: 10em;
    width: 15em;
    
}
#cerc {
    background-color: blue;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 10px;

}