body {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    
}
input {
    border-radius: 30%;
    background-color: orange;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: teal;
    cursor: pointer;
    font-size: 2.5em;
    
}
.letter {
    position: fixed;
    color: red;
    width: 2em;
    height: 2em;
    font-family: sans-serif;
    text-align:center;
    border-radius: 0.2em;
}